@charset "utf-8";
/* CSS Document */

/* Prepare for resonsive design
Body becomes "container element for flex-box"*/
button:focus,
a:focus,
select:focus{

  outline: 0;
  box-shadow: 0 0 8px 3px
  rgba(255, 255, 255,0.8);

}
#restaurants-list li h3 a:focus{
  outline: 0;
  box-shadow: 0 0 8px 3px
  rgba(95, 173, 247, 0.8);

}



body {

  display:flex;
  flex-wrap: wrap;
  font-size: 100%;
}



body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 5vw;*/
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {

 /* display: block; */
  width:100%;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  width:100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  width:100%;
  order:100;
}
.skiplink {
position: absolute;
left: -99999999px;

}
.skiplink:focus {
  left: auto;
  width: auto;
  height: auto;
  z-index: 1;


}




/* ====================== Navigation ====================== */
nav {
  width: 100%;
  /*height: 80px;*/

  background-color: #252831;

}
nav h1 {
  margin: auto;
  padding: 15px 0px 15px 0px;
  text-align: center;
}
nav h1 a {
  color: #fff;
  font-size: 6vw;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;

}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    /* font-size: 10vh; */
    text-align:left;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    width:100%;
 font-size: 3vw;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    font-size: 3vw;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  /*height: 50px; #3397DB;*/
  background-color: #3397DB;
  align-itvws: center;
}
.filter-options h2 {
  color: white;
  font-size: 3vw;
  font-weight: normal;
  line-height: 1;
  margin:0;
  padding:10px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  /*PROBEERSEL: HIERVAN FLEX CONTAINER VAN MAKEN*/
  display:flex;
  flex-wrap: wrap;

 /* width:100%; DEZE MOET ELDERS (CONTAINER ELEMENT!!) */
}
#restaurants-list li {

    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial,sans-serif;
    margin: 10px auto;
  /*  min-height: 380px;*/
    padding: 10px 30px 25px;
    text-align: left;
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
 /* display: block;*/
 /* margin: 0; */
  object-fit: cover;
  max-width:  60%;
  display:flex;
  min-width: 100%;
  justify-content: center;
  align-items:center;

}

#restaurants-list li h3 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
   /* min-height: 3em;  NIET OPTIMAAL, WAT ALS HOOGTE MEER IS DAN 3 LIJNTJES? */
   justify-content: center;
   flex:1;
   display:flex;
   flex-wrap:wrap;
}
#restaurants-list p {
  margin: 0;
  font-size: 3vw;
  justify-content: center;
}

#restaurants-list li h3 a {
  width:100%;
  align-items:center;
  background-color: orange;
  color: #fff;
line-height: 42px;
  font-size: 4vw;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;  border-bottom: 3px solid #eee;
/*  min-width: 70%;*/
  height:42px;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;

}

/* ====================== Restaurant Details ====================== */
.inside {

  display:flex;
  flex-wrap:wrap;

}
.inside header {
width:100%;
}

.inside main {

  width:100%;
}

.inside footer {

  width:100%;
}
.inside header {
  /*position: fixed;
  top: 0;*/
  width: 100%;

}

.inside nav {
  width: 100%;
  /*height: 80px;*/

  background-color: #252831;
  text-align:center;
}
.inside nav h1 {
  margin: auto;
  padding: 15px 0px 15px 0px;
}
.inside nav h1 a {
  color: #fff;
/*  font-size: 6em;*/
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;

}



.inside #map-container {
 /* background: blue none repeat scroll 0 0;*/
  height: 400px;


  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  background-color: #f18200;
  color: white;
  padding: 30px;
  font-family: Arial,sans-serif;
  font-size: 4vw;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  width: 100%;
    text-align: center;
}

#restaurant-img {
  /*width: 90%;*/
display:flex;
flex-wrap:wrap;
  padding-bottom:2%;
}
.restaurant-img {
max-width:100%;
max-height:100%;
object-fit: cover;

}
#restaurant-address {
  font-size: 4vw;
  margin: 10px 0px;
  width:100%;
    text-align: center;
    font-weight:bold;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 3vw;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  /*padding: 140px 40px 30px;*/
  width: 100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;

}
#reviews-container {
  /*  padding: 30px 40px 80px;*/

  order:10;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 3vw;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {

  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap:wrap;
    align-items: center;
  justify-content: center;
}
#reviews-list li {
  /*background-color: #fff;*/
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  /*  padding: 10px 20px 20px;*/
  position: relative;
  width: 90%;
  /* border-radius: 50px 0px; */
  /*    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}
.review-title{
  background-color: #333;

  display:flex;
  flex-wrap:wrap;
   border-radius: 25px 0px 0px 0px;
}
.review-name{
  width: calc(50% - 20px);
  text-align: left;
  color: white;
  font-size:4vw;
  /* margin-left: 20px; */
  padding-left: 20px;
  /* margin-left: 10px; */
}
.review-date{
  width:50%;
  text-align: right;
  color:white;
  font-size:4vw;
  width: calc(50% - 20px);
  font-style: italic;
}
.review-content{
  background-color:white;
}
.review-rating{
    padding: 20px 0px;
      margin: 0px 20px;
      display:flex;
      flex-wrap:wrap;
}
.review-stars{

    background-color: #f58500;
      color: white;
      padding: 10px;

      border-radius: 5px;
      font-weight: bold;
      text-align: center;
      font-size:4vw;
}
.smallicons{
  font-size: 4vw;
  line-height: inherit;
}
.review-comments{
      margin: 0px 20px;
      padding: 0px 0px 20px;
      font-size:4vw;
}
#reviews-list li:hover {
 /*  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.30); */
  }
#reviews-list li p {

  font-family: 'Roboto', sans-serif;
}
#restaurant-hours td {
  color: #666;
  font-size: 4vw;
}


#footer {
  background-color: #444;
  color: #aaa;
  font-size: 2vw;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  width:100%;
  order:100;
}
